{{#if username}}
<div>
	<h1>Bienvenido</h1>
	<div>
		<span>{{username}}</span>
		<form action="/logout" method="POST">
			<div>
				<input type='submit' value='Cerrar sesión' />
			</div>
		</form>
	</div>
</div>
{{/if}}
{{!-- <section>
	<h2>Ingrese Producto</h2>
	<form action="/addProduct" method="POST" id="form-add-product">
		<div>
			<input id="name" type='text' name='name' placeholder="Nombre" />
		</div>
		<div>
			<input id="price" type='number' name='price' placeholder="Precio" />
		</div>
		<div>
			<input id="img" type='text' name='img' placeholder="Imagen" />
		</div>
		<div>
			<input type='submit' value='Enviar' />
		</div>
	</form>
</section> --}}
<section>
	{{!-- <h2>Vista de Productos</h2>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Foto</th>
			</tr>
		</thead>
		<tbody id="table-products"></tbody>
	</table>
	<h2 id="no-products">No hay productos listados</h2> --}}
	{{#if arrayResponse}}
	<form action="/addCart" method="POST">
		<ul>
			{{#each arrayResponse}}
			<li> name: {{this.name}}, price: {{this.price}},image: <img src={{this.image}} alt=""></li>
			{{/each}}
		</ul>
		<input type='submit' value='COMPRAR' />
	</form>
	{{/if}}
</section>
{{!-- <section>
	<h2>Centro de Mensajes</h2>
	<input id="user-email" type="mail" id="usermail" placeholder="Ingresa tu email">
	<hr>
	<div id="table-chat"></div>
	<form id="chat-form">
		<input id="chat-message" type="text" name="chatmessage" placeholder="Ingresá un mensaje...">
		<button type="submit">Enviar</button>
	</form>
</section> --}}