<h1>Iniciar sesión</h1>
<section>
	<div>
		<form action="/login" method="POST">
			<div>
				<input id="name-product" type='email' name='username' placeholder="Email" />
			</div>
			<div>
				<input id="price-product" type='password' name='password'
					placeholder="Contraseña" />
			</div>
			<div>
				<input type='submit' value='Iniciar sesión' />
			</div>
		</form>
		<form action="/redirect-signup" method="POST">
			<div>
				<input type='submit' value='Registrate' />
			</div>
		</form>
	</div>
</section>