<h1>Registrate</h1>
<section>
	<div>
		<form action="/signup" method="POST">
			<div>
				<input id="name-product" type='email' name='username' placeholder="Email" />
			</div>
			<div>
				<input id="price-product" type='password' name='password'
					placeholder="Contraseña" />
			</div>
			<div>
				<input id="name" type='text' name='name' placeholder="Nombre" />
			</div>
			<div>
				<input id="address" type='text' name='address' placeholder="Direccion" />
			</div>
			<div>
				<input id="age" type='number' name='age' placeholder="Edad" />
			</div>
			<div>
				<input type='submit' value='Registrar usuario' />
			</div>
		</form>
		<form action="/redirect-login" method="POST">
			<div>
				<input type='submit' value='Iniciar sesión' />
			</div>
		</form>
	</div>
</section>