<form action="/api/productos" method="post">
    <input type="text" name="title" id="title" placeholder="title">
    <input type="number" name="price" id="price" placeholder="price">
    <input type="submit" value="INGRESAR UN PRODUCTO">
</form>